In [13]:
import pandas as pd

In [6]:
df = pd.read_json('dataset/training_data.json')

In [11]:
df.describe()

            pltd         pv        bss      cuaca        irr
count  97.000000  97.000000  97.000000  97.000000  97.000000
mean    0.659794   1.484536   1.319588   0.494845   0.494845
std     0.748423   0.522681   0.757551   0.502571   0.502571
min     0.000000   0.000000   0.000000   0.000000   0.000000
25%     0.000000   1.000000   1.000000   0.000000   0.000000
50%     0.000000   1.000000   1.000000   0.000000   0.000000
75%     1.000000   2.000000   2.000000   1.000000   1.000000
max     2.000000   2.000000   2.000000   1.000000   1.000000